h1 {
    color: black;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    margin: 2em 2em 2em 2em; 
    border: 2px solid gray;   
}

 p {
    color: black;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
 }

 h3.dates {
   font-weight: 600;
   color: green;
   text-align: center;
 }

 img.left {
   float: left;
   margin-right: 1em;
   margin-bottom: 1em;
 }
 .stop {
   clear: both;
 }